@import "variables";
@import "mixins";

.card {
  max-width: 327px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.497159);

  &-img {

  }

  &-pattern {

  }

  .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: $bold;
  }

  .questions-wrapper {
    padding: 48px 24px;

    .panel {
      display: flex;
      flex-direction: column;
      font-size: $font-sm;
      margin: 1rem 0;
      border-bottom: 1px solid $lightGrayishBlue;
      line-height: 0.813rem;

      .active {
        font-weight: $bold;
      }

      .heading {
        cursor: pointer;
        display: flex;
        margin: 15px 0;
        transition: 0.4s;

      }
      .heading:hover {
        color: $softRed;
      }

      .heading:after {
        content: '';
        background-image: url("./../images/icon-arrow-down.svg");
        background-repeat: no-repeat;
        height: 7px;
        width: 10px;
        margin: auto 0 auto auto;
        transition: transform 0.3s ease-in-out;
      }

      .active:after {
        transform: rotateX(180deg);
      }

      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

    }

  } // end .questions-wrapper

} // end .card

