@import "variables";
@import "mixins";

.card-top__wrapper {
  height: 180px;
  width: 240px;
  position: absolute;
  top: -96px;
  left: 10%;

}
  .card-img {
    position: relative;
    z-index: 10;
    background-image: url("./../images/illustration-woman-online-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .card-img__pattern {
    position: relative;
    z-index: 1;
    background-image: url("./../images/bg-pattern-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    top: -89px;
    left: 24px;

  }
.card {
  max-width: 327px;
  margin: 20vh auto;
  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.497159);
  position: relative;


  .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: $bold;
    padding-top: 119px;
  }

  .questions-wrapper {
    padding: 0 24px 48px 24px;

    .panel {
      display: flex;
      flex-direction: column;
      font-size: $font-sm;
      margin: 1rem 0;
      border-bottom: 1px solid $lightGrayishBlue;
      line-height: 0.813rem;

      .active {
        font-weight: $bold;
      }

      .heading {
        cursor: pointer;
        display: flex;
        margin: 15px 0;
        transition: 0.4s;

      }
      .heading:hover {
        color: $softRed;
      }

      .heading:after {
        content: '';
        background-image: url("./../images/icon-arrow-down.svg");
        background-repeat: no-repeat;
        height: 7px;
        width: 10px;
        margin: auto 0 auto auto;
        transition: transform 0.3s ease-in-out;
      }

      .active:after {
        transform: rotateX(180deg);
      }

      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

    }

  } // end .questions-wrapper

} // end .card

