@import "variables";
@import "mixins";

.card {
  max-width: 20.438rem;
  margin: 20vh auto;
  background-color: #ffffff;
  border-radius: 1.438rem;
  box-shadow: 0 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.497159);
  position: relative;

  @include breakpoint-up(desktop){
    min-width: 57.5rem;
  }


  .card-img__wrapper {
    height: 11.25rem;
    width: 15rem;
    position: absolute;
    top: -6rem;
    left: 10%;

    @include breakpoint-up(desktop){
      width: 29.5rem;
      height: 22.438rem;
      left: -7.188rem;
      top: 4.375rem;
    }

    .card-img__box {
      z-index: 3;
      background-image: url("./../images/illustration-box-desktop.svg");
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: center top;
      position: absolute;
      width: 5.625rem;
      height: 6.75rem;
      top: 6.563rem;
      left: 4.438rem;
    }

    .card-img {
      z-index: 2;
      position: relative;
      background-image: url("./../images/illustration-woman-online-mobile.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;

      @include breakpoint-up(desktop){
        background-image: url("./../images/illustration-woman-online-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
        height: 17.313rem;
        width: 63%;
        left: 7.188rem;
      }
    }

    .card-img__pattern {
      z-index: 1;
      position: relative;
      background-image: url("./../images/bg-pattern-mobile.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 90%;
      top: -5.563rem;
      left: 1.5rem;

      @include breakpoint-up(desktop){
        background-image: url("./../images/bg-pattern-desktop.svg");
        position: absolute;
        width: 18.563rem;
        height: 28.5rem;
        left: 7.188rem;
        top: -4.375rem;
        background-position: bottom right;
        background-size: 200%;
      }
    }

  }

  .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: $bold;
    padding-top: 7.438rem;

    @include breakpoint-up(desktop){
      padding-top: 3rem;
    }
  }

  .questions-wrapper {
    padding: 0 1.5rem 3rem 1.5rem;

    @include breakpoint-up(desktop){
      width: 45%;
      margin-left: 45%;
      padding-left: 0.938rem;
    }

    .panel {
      display: flex;
      flex-direction: column;
      font-size: $font-sm;
      margin: 1rem 0;
      border-bottom: 1px solid $lightGrayishBlue;
      line-height: 0.813rem;

      @include breakpoint-up(desktop){
        font-size: $font-nm;
      }

      .active {
        font-weight: $bold;

        @include breakpoint-up(desktop){
          text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        }
      }

      .heading {
        cursor: pointer;
        display: flex;
        margin: 0.938rem 0;
        transition: 0.4s;

      }
      .heading:hover {
        color: $softRed;
      }

      .heading:after {
        content: '';
        background-image: url("./../images/icon-arrow-down.svg");
        background-repeat: no-repeat;
        height: 0.438rem;
        width: 0.625rem;
        margin: auto 0 auto auto;
        transition: transform 0.3s ease-in-out;
      }

      .active:after {
        transform: rotateX(180deg);
      }

      .content {
        font-size: 0.75rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

    }

  } // end .questions-wrapper

} // end .card

