//      Colors

// text
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// bg gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

// text
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

// dividers
$lightGrayishBlue: hsl(240, 5%, 91%);


//      Fonts
$kumbh: 'Kumbh Sans', sans-serif;

$font-sm: 0.75rem;
$font-nm: 0.875rem;

$medium: 400;
$bold: 700;
